<div class="bg-cover bg-no-repeat bg-center h-auto md:pt-12 md:pb-6 mb-10" style="background-image: url(../images/astro_hero-03.png);">
  <div class="container w-full flex flex-col">
    <p class="ml-10 mb-2 md:ml-40 tracking-loose text-xl md:text-2xl font-bold mt-8 text-white">目指せ 星マスター！<br>
      天文部で、青春しませんか？</p>
    <h1 class="ml-10 mb-4 md:ml-40 text-4xl md:text-6xl font-black leading-tight text-white">TG高校 天文部</h1>
    <p class=" ml-10 mr-10 md:ml-40 leading-normal text-1xl mb-8 text-white">一年中、星を見て過ごしたい方、地球外生命体が気になる方、将来宇宙旅行を計画している方<br>
      仲間達と一緒に見上げる最高の星空の下で青春を過ごしましせんか。<br>
      TG高校天文部では、いつでも部員を募集しています！</p>
  </div>
</div>
