<div class="bg-cover bg-no-repeat bg-center h-auto pt-24 pb-20 mb-10" style="background-image: url(../images/baseball_main_img.png); margin-top: 30px;">
  <div class="container xl:max-w-screen-xl bg-gray-900 bg-opacity-25 px-5 mx-auto flex flex-wrap items-center">
    <p class="tracking-loose text-lg font-black w-full mt-8 text-white lg:text-3xl">目指せ優勝！最強のIT野球チーム</p>
    <h1 class="text-3xl font-black leading-tight text-yellow-300 lg:text-6xl">「荒川オーサム野球団」</h1>
    <p class="leading-normal text-base mb-8 text-white lg:text-2xl"> 一人一人の選手の強みが見えてくるTeamgenikを活用した<br>
      データ野球で最強のチームを目指しています！ </p>
  </div>
</div>

