<div class="mb-3 md:mb-0">
  <div class="relative">
    <a href="#">
      <tg-slot name="new-badge"></tg-slot>
      <tg-slot name="image"></tg-slot>
    </a>
  </div>
  <p class="text-sm font-bold">
    <span><tg-slot name="product-category"></tg-slot></span>
    <span> / </span>
    <span><tg-slot name="product-name"></tg-slot></span>
  </p>
  <p class="font-bold"><tg-slot name="product-price"></tg-slot> yen</p>
  <p class="mt-0 text-sm font-bold md:mt-2">
    <span>在庫状況</span>
    <span>残数</span>
    <span class="text-2xl"><tg-slot name="product-stock"></tg-slot></span>
  </p>
</div>
