<div class="mb-3 md:mb-0">
  <div class="relative">
    <a href="#">
      <span
        class="absolute -top-6 -right-3 h-12 w-12 rounded-full bg-pink-600 pt-3 text-center text-white"
        >NEW</span
      >
      <img
        class="h-48 w-96 object-cover"
        src="/images/mel-poole-i6NcIJXdK10-unsplash.jpg"
        alt=""
      />
    </a>
  </div>
  <p class="text-sm font-bold">
    <span>pazzle</span>
    <span> / </span>
    <span>でたらめパズル</span>
  </p>
  <p class="font-bold">1000 yen</p>
  <p class="mt-0 text-sm font-bold md:mt-2">
    <span>在庫状況</span>
    <span>残数</span>
    <span class="text-2xl">3</span>
  </p>
</div>
